apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: home-gateway
  namespace: argocd
spec:
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
  project: default
  sources:
    - chart: k8s-http-routes
      repoURL: https://accurate0.github.io/inf-k8s
      targetRevision: 2.0.0
      helm:
        valuesObject:
          routes:
            - name: api-route
              gateway:
                name: shared-gateway
                namespace: envoy-gateway-system
              hostnames:
                - home.anurag.sh
              ratelimit:
                rules:
                  - clientSelectors:
                      - headers:
                          - name: CF-Connecting-IP
                            type: Distinct
                    limit:
                      requests: 5
                      unit: Second
              rules:
                - backendRefs:
                    - name: home-gateway
                      port: 80
                  matches:
                    - path:
                        type: PathPrefix
                        value: /v1
    - repoURL: https://github.com/Accurate0/home-gateway.git
      name: application
      path: kubernetes
      kustomize:
        images:
          - home-gateway=ghcr.io/accurate0/home-gateway:${ARGOCD_APP_REVISION}
          - home-selfbot=ghcr.io/accurate0/home-selfbot:${ARGOCD_APP_REVISION}

  destination:
    server: https://kubernetes.default.svc
    namespace: home-gateway
operation:
  initiatedBy:
    username: github-actions
  sync:
    prune: true
    syncStrategy:
      hook: {}
