reminders:
  - id: rent
    name: Rent
    startsOn: 2025-07-14T09:00:00.0+08:00
    frequency: every 2 weeks
    state: active
    notify:
      - type: discord
        channelId: 906076901406306355
        mentions:
          - 787759671742169098
          - 278461837983481857

  - id: bins
    name: Bins
    startsOn: 2025-07-17T20:00:00.0+08:00
    frequency: every 1 week
    state: active
    notify:
      - type: discord
        channelId: 906076901406306355
        mentions: []

doors:
  "0x54ef441000d2b0b0":
    name: Front Door
    id: FRONT_DOOR
    state: armed
    timeout: 3m
    notify:
      - type: discord
        channelId: 906076901406306355
        mentions: []

maccas:
  offers:
    - matchNames:
        - "20pc McNuggets"
        - "24pc McNuggets"
      notify:
        - type: discord
          channelId: 886501248319250444
          mentions:
            - 278461837983481857

appliances:
  "0xa4c1389fe5cea26e":
    name: Washing Machine
    id: WASHING_MACHINE
    current:
      threshold: 0.05
    notify:
      - type: discord
        channelId: 906076901406306355
        mentions: []

temperatureSensors:
  "0x00158d008b8797bc":
    id: LAUNDRY
  "0x00158d008b8798a7":
    id: LIVING_ROOM
  "0x00158d008b879b53":
    id: BATHROOM
  "0xb0c7defffef6a9be":
    id: BEDROOM
  "0x54ef441000ee2ca3":
    id: OUTDOOR

presenceSensors:
  "0x54ef441000dbc81c":
    name: Closet Presence Sensor
    actions:
      PresenceDetected:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x54ef441000d4f05c"
              state: ON

      NoPresenceDetected:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x54ef441000d4f05c"
              state: OFF

switches:
  "0x00158d008bbe0316":
    name: Small Switch
    actions:
      single:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x94a081fffe2eedc0"
              state: TOGGLE

  "0x64028ffffe638218":
    name: Control Switch
    actions:
      on:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: ON

      off:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: OFF

      brightness_move_up:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: INCREASE_BRIGHTNESS
              value: 75

      brightness_move_down:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: DECREASE_BRIGHTNESS
              value: 75

      brightness_stop:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: STOP_BRIGHTNESS

      arrow_right_hold:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: INCREASE_COLOUR_TEMPERATURE
              value: 120

      arrow_left_hold:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: DECREASE_COLOUR_TEMPERATURE
              value: 120

      arrow_left_release:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: STOP_COLOUR_TEMPERATURE

      arrow_right_release:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x001788010381ef5d"
              state: STOP_COLOUR_TEMPERATURE

      # arrow_left_click
      # arrow_right_click
