services:
  home-gateway:
    build:
      dockerfile: Dockerfile
      args:
        - BINARY_NAME=home-gateway
    ports:
      - "8000:8000"
    links:
      - "db:database"
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:test@database/home
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
    env_file:
      - .env.local
    # healthcheck:
    #   test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
    #   interval: 90s
    #   timeout: 10s
    #   retries: 3
    #   start_period: 1s

  db:
    build:
      dockerfile: Dockerfile.postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata2:/var/lib/postgresql/data
    command: >
      postgres
      -c shared_preload_libraries='timescaledb'
    environment:
      POSTGRES_PASSWORD: test
      POSTGRES_DB: home
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 90s
      timeout: 5s
      retries: 5

volumes:
  pgdata2:
