presenceSensors:
  "0x54ef441000dbc81c":
    name: Closet Presence Sensor
    actions:
      PresenceDetected:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x54ef441000d4f05c"
              state: ON

      NoPresenceDetected:
        workflow:
          run:
            - type: light
              ieeeAddr: "0x54ef441000d4f05c"
              state: OFF
