apiVersion: apps/v1
kind: Deployment
metadata:
  name: selfbot
  namespace: home-gateway
  annotations:
    secrets.infisical.com/auto-reload: "true"
spec:
  selector:
    matchLabels:
      app: selfbot
  replicas: 1
  template:
    metadata:
      labels:
        app: selfbot
    spec:
      containers:
        - name: selfbot
          image: home-selfbot:latest
          imagePullPolicy: Always
          livenessProbe:
            failureThreshold: 3
            httpGet:
              path: /health
              port: 8004
              scheme: HTTP
            initialDelaySeconds: 60
            periodSeconds: 60
            successThreshold: 1
            timeoutSeconds: 1
          envFrom:
            - secretRef:
                name: selfbot-managed-secrets
          ports:
            - containerPort: 3000
