name: Deploy
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build-selfbot:
    permissions:
      packages: write

    uses: Accurate0/workflows/.github/workflows/build-push-docker.yaml@main
    with:
      directory: selfbot
      image-name: home-selfbot
      docker-build-args: ""
      use-rust-caching: false

  build:
    strategy:
      fail-fast: false
      matrix:
        apps: [home-gateway]

    permissions:
      packages: write

    uses: Accurate0/workflows/.github/workflows/build-push-docker.yaml@main
    with:
      directory: .
      image-name: ${{ matrix.apps }}
      docker-build-args: |
        BINARY_NAME=${{ matrix.apps }}
        HOME_GATEWAY_API_SECRET=${{ secrets.HOME_GATEWAY_API_SECRET }}
      use-rust-caching: true

  deploy:
    needs:
      - build
      - build-selfbot
    uses: Accurate0/workflows/.github/workflows/deploy-app-k8s.yaml@main
    with:
      application-name: home-gateway
      source-name: application
    secrets:
      TS_OAUTH_CLIENT_ID: ${{ secrets.TS_OAUTH_CLIENT_ID }}
      TS_OAUTH_SECRET: ${{ secrets.TS_OAUTH_SECRET }}
      ARGOCD_AUTH_TOKEN: ${{ secrets.ARGOCD_AUTH_TOKEN }}
