name: Upload config
on:
  push:
    branches:
      - main
    paths:
      - config.yaml
  workflow_dispatch:

jobs:
  build-selfbot:
    permissions:
      id-token: write

    uses: Accurate0/workflows/.github/workflows/upload-config.yaml@main
    with:
      namespace: home-gateway
      object-name: config.yaml
      config-file: config.yaml
