name: Upload config
on:
  push:
    branches:
      - main
    paths:
      - config.yaml
      - .github/workflows/upload-config.yml
  workflow_dispatch:

jobs:
  upload:
    permissions:
      id-token: write

    uses: Accurate0/workflows/.github/workflows/upload-config.yaml@main
    with:
      namespace: home-gateway
      object-name: config.yaml
      config-file: config.yaml
    secrets:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
